@model IEnumerable<MVCBiblioteka.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Witaj na stronie głównej</h1>
</div>

<div>
    @Html.ActionLink("Lista użytkowników", "Index", "Users")<br />
    @Html.ActionLink("Lista książek", "Index", "Books")

    <p>
        Select from @Model.Count() genres:
    </p>
    <ul>
        @foreach (var genre in Model)
        {
            <li>@Html.ActionLink(genre.name, "Browse", new { genre = genre.name })</li>
        }
    </ul>
</div>